<template>
    <div class="container" style="text-align: center">
        <c-employee-bar-chart>
            <c-chart
                slot="chartExample"
                type="bar"
                responsive="true"
                stylecss="position: relative; margin: auto;"
                events='["click"]'
                callbackclick={clickBar}>
                <c-dataset labels='["January", "February", "March", "April", "May", "June", "August", "September", "October", "November", "December"]'>
                    <c-data
                    label="# Number of staff outside the company per month"
                    detail="[12, 19, 7, 9, 5, 15, 4, 25, 18, 20, 10, 10]"
                    backgroundcolor='[
                            "rgba(82, 183, 216, 0.2)",
                            "rgba(82, 183, 216, 0.2)",
                            "rgba(82, 183, 216, 0.2)",
                            "rgba(82, 183, 216, 0.2)",
                            "rgba(82, 183, 216, 0.2)",
                            "rgba(82, 183, 216, 0.2)",
                            "rgba(82, 183, 216, 0.2)",
                            "rgba(82, 183, 216, 0.2)",
                            "rgba(82, 183, 216, 0.2)",
                            "rgba(82, 183, 216, 0.2)",
                            "rgba(82, 183, 216, 0.2)", 
                            "rgba(82, 183, 216, 0.2)"
                        ]'
                    bordercolor='[
                            "rgba(82, 183, 216, 1)",
                            "rgba(82, 183, 216, 1)",
                            "rgba(82, 183, 216, 1)",
                            "rgba(82, 183, 216, 1)",
                            "rgba(82, 183, 216, 1)",
                            "rgba(82, 183, 216, 1)",
                            "rgba(82, 183, 216, 1)",
                            "rgba(82, 183, 216, 1)",
                            "rgba(82, 183, 216, 1)",
                            "rgba(82, 183, 216, 1)",
                            "rgba(82, 183, 216, 1)",
                            "rgba(82, 183, 216, 1)"
                        ]'
                    borderwidth="1">
                    </c-data>
                </c-dataset>
                <c-title text="Employee Tracking"></c-title>
                <c-legend position="bottom"></c-legend>
                <c-animation duration="2000" easing="easeInBounce"> </c-animation>
                <c-cartesian-category-axis
                    axis="x"
                    position="top"
                >
                </c-cartesian-category-axis>
            </c-chart>
        </c-employee-bar-chart>
    </div>
</template>