<template>
    <article class="slds-card col">
      <div class="slds-card__body slds-card__body_inner slds-p-horizontal_x-large">
        <div class="chart">
          <slot name="chartExample">Chart Employees</slot>
        </div>
      </div>
      <footer class="slds-card__footer">   
        <lightning-button label="List of Employees Outside" onclick={goToListView}></lightning-button>
      </footer>
    </article>
</template>